<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/beans.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>CreateProductServlet</servlet-name>
        <display-name>CreateProductServlet</display-name>
        <servlet-class>br.com.brunomilitzer.trainings.servlets.CreateProductServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateProductServlet</servlet-name>
        <url-pattern>/createProduct</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DisplayProductDetailsServlet</servlet-name>
        <display-name>DisplayProductDetailsServlet</display-name>
        <servlet-class>br.com.brunomilitzer.trainings.servlets.CreateProductServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DisplayProductDetailsServlet</servlet-name>
        <url-pattern>/displayProducts</url-pattern>
    </servlet-mapping>
</web-app>
